{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Dashboard</h1>
        <h2>Mes annonces</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Modèle</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td><a href="{{ path('car_page', {id:car.id}) }}">{{ car.model }}</a></td>
                    <td>
                        <a href="{{ path('edit_page', {id:car.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('delete_page', {id:car.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('add_page') }}" class="btn btn-success">Ajouter une annonce</a>
    </div>
{% endblock %}